.input-filter {
  background: none !important;
}

.filters-row {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-label {
  width: 100%;
  text-align: center;
}
